
@font-face {
  font-family: 'Aspekta';
  src: url('./fonts/Main\ font/Aspekta-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hanson';
  src: url('./fonts/Headline\ Font/Hanson-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Breathe Fire';
  src: url('./fonts/Theme\ Accent\ Font/BreatheFireIi-2z9W.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Aspekta';
  background: #0A0A0A;
}

nav{
  background-color: #0A0A0A;
}
.active{
    color: #8505DA !important;
}
.nav-container{
  margin: 0px 5vw;
  padding: 20px 35px;
  border: 3px #fff solid;
  border-radius: 15px;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
.nav-logo{
  margin-right: 5px;
  color: #8505DA !important;
}
.nav-item{
  color: #fff;
  text-decoration: none;
  padding: 0px 5px;
  border: 0px #000 solid;
  border-radius: 5px;
}
.nav-item:hover{
  color: #fff;
  background-color: #222;
}
.nav-part{
  margin: 0px 15px;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}
.nav-left{
  font-family: 'Breathe Fire';
  font-size: 27px;
  font-weight: 400;
  border-right: 3px #fff solid;
  padding-right: 20px;
}
.nav-right{
  font-family: 'Aspekta';
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  min-width: 53vw;
}


.footer-title{
  font-family: 'Hanson';
  font-size: 50px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;            
}
.socials-cont{
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  padding-bottom: 50px;
}
.social-cont{
  width: 20vw;
  height: 20vw;
  padding: 30px;
  background-color: #0A0A0A;
  border: 5px #fff solid;
  border-radius: 30px;
  text-decoration: none;
}
.social-name{
  font-family: 'Breathe Fire';
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.social-img{
  height: 13vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.simg1{
  background-image: url("./discord.png");
}
.simg2{
  background-image: url("./insta.png");
}
.simg3{
  background-image: url("./mail.png");
}
.simg4{
  background-image: url("./whatsapp.png");
  height: 12vw;
  margin-top: 0.5vw;
  width: 13vw;
}
.social-name{
  margin-top: 15px;
}
hr{
    border: 1px solid #fff;
    width: 90vw;
    height: 5px !important;
    margin: 0 auto;
    border-radius: 5px;
    opacity: 1;
}
.sec4{
    margin: 50px 5vw;
}
